
     <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
      <p class="navbar-text">&copy; 2015 Faith Filled Finance &mdash; All rights reserved.</p>
      </div>
     </nav>
   


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script>
    
    // on doc load
      $( document ).ready(function() {
        $('#sidebar-2').shuffle();
      });




    $.fn.shuffle = function() {
        return this.each(function(){
            var items = $(this).children().clone(true);
            return (items.length) ? $(this).html($.shuffle(items)) : this;
        });
    }
    
    $.shuffle = function(arr) {
        for(var j, x, i = arr.length; i; j = parseInt(Math.random() * i), x = arr[--i], arr[i] = arr[j], arr[j] = x);
        return arr;
    }

</script>
