{% include head.html %}
<body id="coming-soon">
 <div class="wrapper">
  <div class="container">
   <div class="jumbotron">
    <h1>The world needs <br>your church.<br><br>
    Your church needs <br>a website.</h1>
    <br><br>
    <img src="{{ site.url }}/assets/images/ten14-large.png">
   </div>
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
   <div class="well">
    <h2>Come and See!</h2>
    <p>Subscribe via email, and get invitations for our beta test and launch.</p>
    <br/>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <form action="//ten14communications.us11.list-manage.com/subscribe/post?u=f5b423d117be2b76fd03b0ea6&amp;id=2dccc4c1f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
     <div class="form-group">
      <label for="mce-EMAIL" class="hidden">Email Address</label>
      <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="Email Address">
     </div>
     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
       <div style="position: absolute; left: -5000px;"><input type="text" name="b_f5b423d117be2b76fd03b0ea6_2dccc4c1f6" tabindex="-1" value=""></div>
     <input type="submit" class="btn-lg btn-primary pull-right" value="Subscribe">
    </form>
   </div>
   </div>
   <div class="coming-soon-quote">
   <p>How are they to believe in one of whom they have never heard?<br>And how are they to hear without someone to proclaim him?<br><i>&mdash; Romans Ten:14</i></p>
   </div>
   
   </div>
  </div>
 </div>
</body>