<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  {% include fb-comment-js.html %}
  

    {% include header.html %}

   <div class="container">

      <div class="row">

        <div class="col-sm-6 blog-main">

   
        {{ content }}

        </div><!-- /.blog-main -->
<div class="col-sm-4 sidebar-1 shuffle" >
    {% for post in site.posts %}
        <div class=>
          <a href="{{ post.url | prepend: site.baseurl }}">

            {% if post.image.wide %}
              <img src="/images/{{ post.permalink}}_wide.jpg" class="img-responsive" >
            {% else %}
              <img src="http://placehold.it/400x150&text=Awesome+Image" class="img-responsive" >
            {% endif %}
          </a>

            {% if post.sponsored %}
              <span class="label label-success pull-right sponsored-label">Sponsored</span>
            {% endif %}

          <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
        </div>
        
    {% endfor %}
    </div><!-- /.sidebar-1 -->

        <div class="col-sm-2 sidebar-2 shuffle" id="sidebar-2">
          
          {% for post in site.posts %}
            {% if post.image.tall %}
              <a href="{{ post.url | prepend: site.baseurl }}"><img src="/images/{{ post.permalink }}_long.jpg"></a>
            {% endif %} 
          {% endfor %}
         
        </div><!-- /.sidebar-2 -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    



    {% include footer.html %}

  </body>

</html>
