---
layout: default
---
<div class="post">


  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {% if page.image.feature %}
<img src="/images/{{ page.permalink }}.jpg" class="img-responsive">
<a href="" class="pull-right label-link"><span class="label label-primary">Share this photo!</span></a>
<a href="" class="pull-right label-link"><span class="label label-info">Photo Credit</span></a>
  {% endif %}


  <article class="post-content">
    {{ content }}
  </article>


  <div id="page-navigation"> 
        <div class="clear">&nbsp;</div> 
        <div class="left"> 
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
        {% endif %} 
        </div> 

        <div class="right"> 
        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="next Post: 
{{page.next.title}}">{{page.next.title}} &raquo; </a> 
        {% endif %} 
        </div> 
        <div class="clear">&nbsp;</div> 
</div> 

</div>

<div class="fb-comments" data-href="{{site.url}}{{ page.url | prepend: site.baseurl }}" data-numposts="8" data-colorscheme="light" data-width="100%"></div>
